/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

body {
	background-color: rgb(27, 27, 27);
}

#main a {
	color: #a68ed2;
}

header {
  min-height: 4em;
  position: fixed;
  background: rgb(97, 85, 119);
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#menu {
    font-size: 18px;
    color: rgb(186, 186, 186);
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
#menu ul {
    list-style: none;
    text-align: center;
    display: block;
    padding: 0px;
    margin: 0 auto;
}
#menu ul li {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    display: inline-block;
}
#menu ul li a {
    text-decoration: none;
    color: rgb(186, 186, 186);
    text-align: center;
    display: block;
    padding: 5px;
    margin: 0px;
}
#menu ul li a:hover {
    color: #a68ed2;
}

#menu a {
	color: #a68ed2;
}

footer ul {
	color: rgb(158, 158, 158);
	position:absolute;
	bottom:0;
	right:3%
}

footer a {
	color: #a68ed2;
	text-decoration:  none;
}

header h1 {
  color: rgb(186, 186, 186);
  font-size: 25px;
  text-align: left;
  
}

img {
	max-width: 100%;
    max-height: 100%;
}

._video {
	width: 80%; 
	position: relative; 
	padding-bottom: 50%;
	right:16em;
}

p {
	font-size: 28px;
	color: hsla(0, 0%, 62%, 1);
}
.navbar {
    position: fixed; /* Set the navbar to fixed position */
	left: 76em;
	height: 40%;
}
.navbar a {
	text-decoration: none;
	font-size: 230%;
	color: rgb(186, 186, 186);
}
.navbar a:hover {
	color: #a68ed2;
}
.chrome {
	position: fixed;
	top: 6em;
}
.firefox {
	position: fixed;
	top: 8em;
}
.paypal {
	position: fixed;
	top: 10em;
}
.contact {
	position: fixed;
	top: 12em;
}
.box { 
	position: relative;
    margin:auto;
    width: 65%;
	height: 80%;
    border: none;
	top:6em;
	color:rgb(186, 186, 186);
	text-align:center;
}

._video {
	width: 80%; 
	position: relative; 
	padding-bottom: 50%;
	right:25em;
}

@media (min-width: 1920px) {
	
.box {
    width: 75%;
}

._video {
	width: 80%; 
	position: relative; 
	padding-bottom: 50%;
	right:25em;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
	left: 108em;
	height: 40%;
}
.chrome {
	position: fixed;
	top: 9em;
}
.firefox {
	position: fixed;
	top: 11em;
}
.paypal {
	position: fixed;
	top: 13em;
}
.contact {
	position: fixed;
	top: 15em;
}

}


@media (min-width: 1281px) and (max-width: 1366px) {
._video {
	width: 80%; 
	position: relative; 
	padding-bottom: 50%;
	right:16em;
}

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

._video {
	width: 80%; 
	position: relative; 
	padding-bottom: 50%;
	right:17em;
}
	
.box { 
	top:9em;
	width: 75%;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
	left: 72em;
	height: 40%;
}
.chrome {
	position: fixed;
	top: 9em;
}
.firefox {
	position: fixed;
	top: 11em;
}
.paypal {
	position: fixed;
	top: 13em;
}
.contact {
	position: fixed;
	top: 15em;
}

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	._video {
	width: 80%; 
	position: relative; 
	padding-bottom: 50%;
	right:12em;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
	left: 56em;
	height: 20%;
}


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}
	

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}
  